<html>
  <head>
    {% if title %}
    <title>{{ title }} My blog</title>
    {% else %}
    <title>blog</title>
    {% endif %}
  </head>
  <body style="color:green; background:lightblue">
    <div style="text-align:left"> <h2> Microblog:</h2>
    <div style="text-align:right">
        <a href="{{ url_for('index') }}" style="color:blue">Home</a>
        {% if g.user.is_authenticated %}
        | <a href="{{url_for('user',nickname=g.user.nickname)}}"> Your profile </a>
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        </div>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
